body{
    font-size: 14px;
    padding-top: 54px;
}
.note-block {

}
.note-block__content p{
    margin-bottom: 0.5rem;
}

.note-block__content blockquote, .editor-preview-active  blockquote{
    font-size: 1.4em;
    width:80%;

    margin-left:20px;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;

    border-left:8px solid $purple ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
}

.note-block__content blockquote::before, .editor-preview-active  blockquote::before{
    content: "\201C";
    color:$purple;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
    font-family: 'Nunito';
}

.note-block__content blockquote::after, .editor-preview-active  blockquote::after{
    content: '';
}

.note-block__content blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
}
.filepond--root .filepond--credits[style] {

    display: none!important;
}
.image-icon.icon-jpg{

}
.required-field{
    color:$red;
}
.purple{
    color:$purple;
}

/* ---------------------------------- */
/* Intro Banner
------------------------------------- */
.intro-banner {
    padding: 105px 0;
    position: relative;
}

.intro-banner.big-padding {
    padding: 130px 0;
}

.intro-banner .container {
    z-index: 100;
    position: relative;
}

.intro-banner:after,
.intro-banner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(to right, #fafafa 20%, rgba(250, 250, 250, 0.8) 80%, rgba(250, 250, 250, 0.7) 90%, rgba(250, 250, 250, 0.3) 100%)
}

.intro-banner:after {
    z-index: 5;
    background-color: #fafafa;
}

.intro-banner .background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 60%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    left: 10%;
    z-index: 10;
    overflow: hidden;
}

/* Disabled Gradient */
.intro-banner.disable-gradient:before {
    background: #f2f2f2;
    opacity: 0.85;
}

.intro-banner.disable-gradient .background-image-container {
    left: 0;
    width: 100%;
}

/* Banner Headline */
.banner-headline {
    display: block;
    max-width: 55%;
}

.banner-headline h1,
.banner-headline h2,
.banner-headline h3,
.banner-headline h4 {
    font-size: 28px;
    font-weight: 300;
    color: #777;
    line-height: 42px;
}

.banner-headline strong {
    font-weight: 600;
    color: #333;
}

.banner-headline strong.color {
    color: #66676b;
}
.margin-top-95 {
    margin-top: 95px !important;
}
.intro-banner-search-form {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 9%);
}


.intro-search-field {
    padding: 10px 12px;
    border-right: 1px solid #e4e4e4;
    flex: 1;
    align-items: center;
    display: flex;
    position: relative;
}
.intro-search-field .field-title {
    content: attr(data-field-tiele);
    position: absolute;
    top: 0;
    left: 0;
    background: $purple;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 22px;
    transform: translateY(calc(-100% - 15px));
    cursor: default;
}
.intro-banner-search-form .intro-search-field:nth-last-child(2) {
    border-right: none;
}

.intro-search-field {
    padding: 10px 12px;
    border-right: 1px solid #e4e4e4;
    flex: 1;
    align-items: center;
    display: flex;
    position: relative;
}
.intro-banner-search-form input {

    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    outline: none;
    font-size: 20px;
    color: #808080;

    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: none;

}
.intro-search-button {
    margin: 8px;
    margin-left: 0;
    flex: auto;
    flex-grow: 0;
    display: flex;
    align-items: center;
}
.intro-search-button .button {
    height: 52px;
    line-height: 52px;
    padding: 0 30px;
    font-size: 18px;
    box-shadow: 0 4px 12px rgb(234 124 17 / 15%);
    background-color: $yellow;
    top: 0;

    color: #fff;
    position: relative;

    font-weight: 500;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 4px;

}
.footer-bottom-section {
    padding: 20px 0;
    border-top: 1px solid #484848;
    text-align: center;
    background-color: $purple;
    color: #c0c0c0;
}
.note-block .card{
    height:100%
}
.page-item.active .page-link {

    background-color: $purple;
    border-color: $purple;
}
